.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

header {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
}

main {
  flex-grow: 1;
  padding: 20px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}
